/* Main */
.fitness {
  margin-left: 230px;
  margin-top: 60px;

  padding: 30px;

  min-height: 100vh;
  width: calc(100% - 230px);

  background: #0f172a;

  color: white;

  display: flex;
  flex-direction: column;
}

/* Title */
.fitness-title {
  color: #f97316;
  margin-bottom: 25px;
  font-size: 28px;
}

/* Cards */
.fitness-cards {
  display: flex;
  gap: 20px;

  margin-bottom: 30px;

  flex-wrap: wrap;
}

/* Card */
.fitness-card {
  flex: 1;

  min-width: 220px;

  background: #020617;

  padding: 25px;

  border-radius: 15px;

  text-align: center;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);

  transition: 0.3s;
}

.fitness-card:hover {
  transform: translateY(-5px);
}

/* Colors */
.steps {
  border-left: 5px solid #00e5ff;
}

.calories {
  border-left: 5px solid #f97316;
}

.water {
  border-left: 5px solid #22c55e;
}

/* Form */
.fitness-form {
  display: flex;

  gap: 15px;

  margin-bottom: 25px;

  flex-wrap: wrap;
}

.fitness-form input {
  flex: 1;

  padding: 12px;

  border-radius: 8px;

  border: none;

  outline: none;

  background: #020617;

  color: white;
}

.fitness-form button {
  padding: 12px 25px;

  border: none;

  border-radius: 8px;

  background: #f97316;

  color: black;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.fitness-form button:hover {
  background: #fb923c;
}

/* Water */
.water-box {
  background: #020617;

  padding: 20px;

  border-radius: 12px;

  margin-bottom: 30px;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.water-box button {
  padding: 8px 18px;

  background: #22c55e;

  border: none;

  border-radius: 6px;

  font-weight: bold;

  cursor: pointer;
}

/* History */
.fitness-history {
  background: #020617;

  padding: 25px;

  border-radius: 15px;
}

.fitness-history h3 {
  color: #00e5ff;
  margin-bottom: 15px;
}

/* Item */
.history-item {
  display: flex;

  justify-content: space-between;

  padding: 12px 0;

  border-bottom: 1px solid #1e293b;

  font-size: 14px;
}

/* Empty */
.empty {
  text-align: center;
  opacity: 0.7;
}

/* Responsive */
@media (max-width: 900px) {
  .fitness {
    margin-left: 0;
    width: 100%;
  }

  .fitness-form {
    flex-direction: column;
  }
}
