/* Reset */
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Sidebar Container */
.sidebar {
  width: 230px;
  height: 100vh;

  /* Solid Dark Background */
  background: #0f172a;

  color: #f1f1f1;

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 25px;

  backdrop-filter: blur(10px);

  box-shadow: 6px 0 30px rgba(0, 0, 0, 0.7);

  transition: all 0.4s ease;
}

/* Logo */
.sidebar-logo {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 2px;

  color: #00e5ff;

  animation: floatLogo 3s ease-in-out infinite;

  text-shadow: 0 0 15px rgba(0, 229, 255, 0.6);
}

/* Logo Floating */
@keyframes floatLogo {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

/* Menu */
.sidebar-menu {
  list-style: none;
  padding: 0;
  width: 100%;
}

/* Menu Item */
.sidebar-menu li {
  width: 100%;
  margin: 12px 0;
  position: relative;
}

/* Links */
.sidebar-menu a {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 14px 28px;

  text-decoration: none;

  color: #e0e0e0;

  font-size: 16px;
  font-weight: 500;

  border-radius: 30px 0 0 30px;

  transition: all 0.4s ease;

  position: relative;
  overflow: hidden;
}

/* Shimmer Effect */
.sidebar-menu a::before {
  content: "";
  position: absolute;

  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(0, 229, 255, 0.4),
    transparent
  );

  transition: all 0.6s;
}

/* Hover */
.sidebar-menu a:hover::before {
  left: 100%;
}

.sidebar-menu a:hover {
  background: rgba(0, 229, 255, 0.12);

  padding-left: 40px;

  box-shadow: inset 5px 0 0 #00e5ff,
    0 0 20px rgba(0, 229, 255, 0.5);

  color: #00e5ff;

  transform: scale(1.05);
}

/* Active Link */
.sidebar-menu a.active {
  background: #020617;

  box-shadow: inset 5px 0 0 #00e5ff;

  color: #00e5ff;
}

/* Footer */
.sidebar-footer {
  margin-top: auto;
  margin-bottom: 25px;

  font-size: 12px;

  opacity: 0.8;

  letter-spacing: 1px;

  color: #aaa;
}

/* Footer Pulse */
.sidebar-footer p {
  animation: fadePulse 2s infinite;
}

@keyframes fadePulse {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}
